<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hui.blog.mapper.LabelsMapper" >
  <resultMap id="BaseResultMap" type="com.hui.blog.bean.Labels" >
    <id column="label_id" property="labelId" jdbcType="BIGINT" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="label_alias" property="labelAlias" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hui.blog.bean.Labels" extends="BaseResultMap" >
    <result column="label_description" property="labelDescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    label_id, label_name, label_alias
  </sql>
  <sql id="Blob_Column_List" >
    label_description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hui.blog.bean.LabelsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ngh_labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hui.blog.bean.LabelsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ngh_labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ngh_labels
    where label_id = #{labelId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ngh_labels
    where label_id = #{labelId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hui.blog.bean.LabelsExample" >
    delete from ngh_labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hui.blog.bean.Labels" >
    insert into ngh_labels (label_id, label_name, label_alias, 
      label_description)
    values (#{labelId,jdbcType=BIGINT}, #{labelName,jdbcType=VARCHAR}, #{labelAlias,jdbcType=VARCHAR}, 
      #{labelDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hui.blog.bean.Labels" >
    insert into ngh_labels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="labelName != null" >
        label_name,
      </if>
      <if test="labelAlias != null" >
        label_alias,
      </if>
      <if test="labelDescription != null" >
        label_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        #{labelId,jdbcType=BIGINT},
      </if>
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelAlias != null" >
        #{labelAlias,jdbcType=VARCHAR},
      </if>
      <if test="labelDescription != null" >
        #{labelDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hui.blog.bean.LabelsExample" resultType="java.lang.Integer" >
    select count(*) from ngh_labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ngh_labels
    <set >
      <if test="record.labelId != null" >
        label_id = #{record.labelId,jdbcType=BIGINT},
      </if>
      <if test="record.labelName != null" >
        label_name = #{record.labelName,jdbcType=VARCHAR},
      </if>
      <if test="record.labelAlias != null" >
        label_alias = #{record.labelAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.labelDescription != null" >
        label_description = #{record.labelDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ngh_labels
    set label_id = #{record.labelId,jdbcType=BIGINT},
      label_name = #{record.labelName,jdbcType=VARCHAR},
      label_alias = #{record.labelAlias,jdbcType=VARCHAR},
      label_description = #{record.labelDescription,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ngh_labels
    set label_id = #{record.labelId,jdbcType=BIGINT},
      label_name = #{record.labelName,jdbcType=VARCHAR},
      label_alias = #{record.labelAlias,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hui.blog.bean.Labels" >
    update ngh_labels
    <set >
      <if test="labelName != null" >
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelAlias != null" >
        label_alias = #{labelAlias,jdbcType=VARCHAR},
      </if>
      <if test="labelDescription != null" >
        label_description = #{labelDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hui.blog.bean.Labels" >
    update ngh_labels
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_alias = #{labelAlias,jdbcType=VARCHAR},
      label_description = #{labelDescription,jdbcType=LONGVARCHAR}
    where label_id = #{labelId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hui.blog.bean.Labels" >
    update ngh_labels
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_alias = #{labelAlias,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=BIGINT}
  </update>
</mapper>